<h2 class="m-4 col-md-4 text-center display-4">Sign up</h2>
<div class = "card col-md-5 p-3 shadow-sm mb-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'needs-validation', novalidate: true }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="mb-3">
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Enter your name' %>
    </div>
  
    <div class="mb-3">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'Enter your email' %>
    </div>
  
    <div class="mb-3">
      <%= f.label :password, class: 'form-label' %>
      <% if @minimum_password_length %>
        <div class="form-text">(<%= @minimum_password_length %> characters minimum)</div>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Enter your password' %>
    </div>
  
    <div class="mb-3">
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirm your password' %>
    </div>
  
    <div class="mb-3">
      <%= f.label :user_type, "Choose a User Type:", class: 'form-label' %>
      <%= f.select :user_type, options_for_select([['Manager', 'manager'], ['Developer', 'developer'], ['QA', 'qa']], resource.user_type), { include_blank: 'Select User Type' }, class: 'form-select' %>
    </div>
  
    <div class="mb-3">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
