<h1>Create a New Project</h1>

<%= form_with(model: @project, local: true, class: 'mt-4') do |form| %>
  
  <div class="form-group mb-3">
    <%= form.label :project_name, class: 'form-label' %>
    <%= form.text_field :project_name, class: 'form-control', placeholder: 'Project Name' %>
  </div>

  
  <div class="mb-3">
    <label class="form-label">Assign Developers</label>
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle w-20" type="button" id="developerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Select Developers
      </button>
      <div class="dropdown-menu w-20" aria-labelledby="developerDropdown">
        <% User.where(user_type: 'developer').each do |developer| %>
          <div class="dropdown-item" onclick="event.stopPropagation();">
            <%= check_box_tag 'project[developer_ids][]', developer.id, @project.assigned_users.include?(developer), class: 'form-check-input', id: "developer_#{developer.id}" %>
            <%= label_tag "developer_#{developer.id}", developer.name, class: 'form-check-label w-100', for: "developer_#{developer.id}" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  
  <div class="mb-3">
    <label class="form-label">Assign QAs</label>
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle w-20" type="button" id="qaDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Select QAs
      </button>
      <div class="dropdown-menu w-20" aria-labelledby="qaDropdown">
        <% User.where(user_type: 'qa').each do |qa| %>
          <div class="dropdown-item" onclick="event.stopPropagation();">
            <%= check_box_tag 'project[qa_ids][]', qa.id, @project.assigned_users.include?(qa), class: 'form-check-input', id: "qa_#{qa.id}" %>
            <%= label_tag "qa_#{qa.id}", qa.name, class: 'form-check-label w-100', for: "qa_#{qa.id}" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  
  <div class="mt-4">
    <%= form.submit 'Create Project', class: 'btn btn-primary' %>
    <%= link_to 'Back', projects_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
