<h1 class="text-center mb-4 display-4">Projects</h1>

<div class="container">
  <div class="row mb-4">
    <div class="col-md-12 d-flex justify-content-between">
      <% if can? :manage, Project %>
        <%= link_to 'Add New Project', new_project_path, class: 'btn btn-primary btn-lg' %>
      <% end %>
      <%= link_to 'Back', root_path, class: 'btn btn-secondary btn-lg' %>
    </div>
  </div>

  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title font-weight-bold"><%= project.project_name %></h5>
            <p class="card-text"><strong>Manager Name:</strong> <%= User.find(project.manager_id).name %></p>
            <p class="card-text"><strong>Manager ID:</strong> <%= project.manager_id %></p>

            <div class="d-flex justify-content-between">
              <% if can? :manage, project %>
                <%= link_to 'Show', project_path(project), class: 'btn btn-info btn-sm' %>
                <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-warning btn-sm' %>
                <%= link_to 'Delete', project_path(project), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
              <% elsif can? :read, project %>
                <%= link_to 'Show', project_path(project), class: 'btn btn-info btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
