<div class="container mt-4">
  <div class="card shadow-sm bg-light">
    <div class="card-body">
      <h1 class="card-title">Project: <%= @project.project_name %></h1>
      <h3 class="card-subtitle mb-4 text-muted">Manager Name: <%= current_user.name %></h3>

      <div class="row mb-3 ">
        <div class="btn-group col-md-5">
          <% if can? :manage, @project %>
            <%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-warning' %>
            <%= link_to 'Delete Project', @project, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          <% end %>
          <% if can? :manage, Bug %>
            <%= link_to 'Add Bug', new_project_bug_path(@project), class: 'btn btn-primary' %>
          <% end %>
          <%= link_to 'Back', projects_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h2 class="mb-4">Bugs for this Project</h2>
  <div class="row">
    <% if @bugs.empty? %>
      <p>No bugs for this project.</p>
    <% elsif can? :read, Bug %>
      <% @bugs.each do |bug| %>
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm h-100">
            <div class= "card-img-top hight">
              <% if bug.screen_shot.present? %>
                <div class="card-image">
                  <%= image_tag bug.screen_shot.url, class: ' img-fluid rounded' %>
                </div>
              <% else %>
                  <%= image_tag "https://salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled.png" , class: ' img-fluid rounded' %>
                <p class="text-muted">No screenshot available.</p>
              <% end %>
            </div>
            <hr class="m-0">
            <div class="card-body bg-light">
              <h5 class="card-title d-flex justify-content-between">
                <span><%= bug.title %></span>
                <%if bug.status == "resolved" || bug.status == "completed"%>
                <span class="badge bg-success text-light"><%= bug.status %></span>
                <%elsif bug.status == "started"%>
                 <span class="badge bg-warning text-dark"><%= bug.status %></span>
                <%elsif bug.status == "pending"%>
                 <span class="badge bg-danger text-light"><%= bug.status %></span>
                <%end%>
              </h5>
              
              <p class="card-text">
                <%= truncate(bug.description, length: 150, separator: ' ', omission: '...') %>
              </p>
              <p class="mb-1"><strong>Type:</strong> <%= bug.bug_type %></p>
              <p class="mb-1"><strong>Deadline:</strong> <%= bug.deadline %></p>
              <p class="mb-1"><strong>Assigned Developer:</strong> <%= bug.developer.name if bug.developer %></p>
              <p class="mb-1"><strong>Created by:</strong> 
                <% if bug.qa %>
                  <%= bug.qa.name %> (QA)
                <% elsif bug.manager %>
                  <%= bug.manager.name %> (Manager)
                <% else %>
                  Unknown
                <% end %>
              </p>
             
              
              <div class="btn-group">
                <% if can? :read, bug %>
                  <%= link_to 'Details', project_bug_path(@project, bug), class: 'btn btn-info btn-sm' %>
                <% end %>
                <% if can? :update, bug %>
                  <% if current_user.user_type == 'developer' %>
                    <%= link_to 'Edit Status', edit_project_bug_path(@project, bug), class: 'btn btn-warning btn-sm' %>
                  <% else %>
                    <%= link_to 'Edit', edit_project_bug_path(@project, bug), class: 'btn btn-warning btn-sm' %>
                  <% end %>
                <% end %>
                <% if can? :destroy, bug %>
                  <%= link_to 'Delete', project_bug_path(@project, bug), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
